<ion-view title="Enter Survey Code" hide-back-button="true">
  <ion-content class="has-header padding">
    <h4>Enter name and survey code:</h4>
    <p>
	    <strong>Name</strong>
	    <label class="item item-input">
		    <input type="text" placeholder="Your Name" ng-model="user_name"/>
		</label>
	</p>
	<p>
		<strong>Survey Code</strong>
	    <label class="item item-input">
		    <input type="tel" ng-model="project_code" placeholder="8-digit Survey Code"/>
		</label>
	</p>
	<a class="button button-positive button-block" ng-click="load_project(project_code)">
    	Start Survey!
    </a>
  </ion-content>
</ion-view>
